.article-grid {
  @apply grid grid-flow-row grid-cols-4 justify-items-center xsm:grid-cols-4 t:grid-cols-2;
}
@media (max-width: 900px) {
  .article-grid {
    @apply grid-cols-2
  }
}

.article {
  @apply cursor-pointer inline-block min-w-[14.7rem] w-[14.7rem] xsm:w-[14.7rem] t:w-[18rem];
}


.article-info {
  @apply p-5 space-y-2 max-w-full;
}

.thumbnail {
  @apply min-w-full w-full h-[11.5rem] rounded-sm;
}

.article-text {
  @apply text-grayish-blue text-xs;
}

.article-title {
  @apply font-300 cursor-pointer transition-colors;
}

.article:hover .article-title {
  @apply text-[#31c486];
}
