@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
@import url("header.css");
@import url("benefits.css");
@import url("articles.css");
@import url("footer.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply m:text-[14px] t:text-[14px] xsm:text-[14px] sm:text-[16px] md:text-[18px] lg:text-[18px] xl:text-[22px] xxl:text-[30px] text-dark-blue font-public-sans font-400;
}

html {
  @apply h-full;
}

body {
  @apply h-screen overflow-x-hidden;
}

#app {
  @apply h-full;
}

footer,
section {
  @apply px-[7rem];
  @apply sm:px-[2rem] xsm:px-[2rem] t:px-[2rem] m:px-[2rem];
}

.invite-button {
  @apply text-white py-3 px-8 rounded-full min-w-fit max-w-fit hover:opacity-60 transition-opacity theme-gradient;
}

h2 {
  @apply text-4xl font-300;
}

.logo {
  @apply w-[8.056rem] h-[1.111rem]
}

.theme-gradient {
  @apply bg-gradient-to-r from-[#31d35c] to-[#2bb7da];
}

.intro-img {
  @apply absolute w-[71rem] h-[56.5rem] -top-[11.5rem] -right-[21rem] pointer-events-none bg-no-repeat bg-[length:80rem];
  @apply xsm:bg-[length:35rem] xsm:-top-[2.1rem] xsm:h-[60.3rem] xsm:-right-[40rem];
  @apply sm:bg-[length:50rem] sm:-top-[5.2rem] sm:h-[60.3rem] sm:-right-[30rem];
  @apply xl:bg-[length:100rem] xl:-top-[15.3rem] xl:h-[60.3rem] xl:-right-[17rem];
  @apply xxl:bg-[length:100rem] xxl:-top-[15.3rem] xxl:h-[60.3rem] xxl:-right-[17rem];

  background-image: url("../images/bg-intro-desktop.svg");
}

.mockup-img {
  @apply absolute z-10 -top-[2.5rem] -right-[8rem] min-w-[47.07rem] w-[47.07rem] select-none pointer-events-none;
  @apply m:min-w-[23rem] m:w-[26.2rem] m:right-[0rem] m:left-[0rem] m:mx-auto m:-top-[4.3rem];
  @apply t:min-w-[26.2rem] t:w-[26.2rem] t:right-[0rem] t:left-[0rem] t:mx-auto t:-top-[4.3rem];
  @apply xsm:min-w-[32rem] xsm:w-[32rem] xsm:-right-[5.3rem] xsm:top-[0.4rem];
  @apply sm:min-w-[40rem] sm:w-[40rem] sm:-right-[6rem] sm:-top-[1rem];
}
