@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
@import url("header.css");
@import url("benefits.css");
@import url("articles.css");
@import url("footer.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply text-[18px] text-dark-blue font-public-sans font-400;
}

html {
  @apply h-full;
}

body {
  @apply h-screen;
}

#app {
  @apply h-full;
}

header,
footer,
section {
  @apply px-[7rem];
}

.invite-button {
  @apply text-white py-3 px-8 rounded-full min-w-fit max-w-fit hover:opacity-60 transition-opacity theme-gradient;
}

h2 {
  @apply text-4xl font-300;
}

.theme-gradient {
  @apply bg-gradient-to-r from-[#31d35c] to-[#2bb7da]
}